<?xml version="1.0"?>
<config>
    <modules>
        <PSA_Dyblocks>
            <version>0.1.1</version>
        </PSA_Dyblocks>
    </modules>
    <global>
        <blocks>
            <psa_dyblocks>
                <class>PSA_Dyblocks_Block</class>
            </psa_dyblocks>
        </blocks>
        <models>
            <psa_dyblocks>
                <class>PSA_Dyblocks_Model</class>
                <resourceModel>psa_dyblocks_resource</resourceModel>
            </psa_dyblocks>
            <psa_dyblocks_resource>
                <class>PSA_Dyblocks_Model_Resource</class>
                <entities>
                    <dyblock>
                        <table>psa_dyblocks</table>
                    </dyblock>
                </entities>
            </psa_dyblocks_resource>
        </models>
        <helpers>
            <psa_dyblocks>
                <class>PSA_Dyblocks_Helper</class>
            </psa_dyblocks>
        </helpers>
        <resources>
            <psa_dyblocks_setup>
                <setup>
                    <module>PSA_Dyblocks</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </psa_dyblocks_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <psa_dyblocks after="Mage_Adminhtml">PSA_Dyblocks_Adminhtml</psa_dyblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <psa_dyblocks>
                    <file>psa/dyblocks.xml</file>
                </psa_dyblocks>
            </updates>
        </layout>
    </adminhtml>
</config>